body {
    background: #F9F9F9;
    color: #333;
}

.principal {
    background: #ebebeb;
}

#banner {
    width: 100%
}

h1, h2 {
    text-align: center
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

em strong {
    color: #5f6b91;
}

.itens {
    font-style: italic;
}