main {
    margin: 0 auto;
}

form {
    width: 940px;
    margin: 40px auto;
}

form h2 {
    margin-bottom: 15px;
}

form label, form legend {
    display: block;
    font-size: 16px;
    margin: 0 0 10px;
}

input, input:active, input:focus,
textarea {
    border: none;
    background-color: #ebe8e8;
    border-radius: 5px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 55%;
    padding: 15px 0;
    background: #7285ad;
    border: none;
    border-radius: 2px;
    color: #f9f9f9;
    font-size: 18px;
    transition: .5s all;
}

.enviar:hover {
    background: #495e8a;
    cursor: pointer;
    transform: scale(1.025);
}