main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 16px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 50%;
    padding: 15px 0;
    background: #7285ad;
    border: none;
    border-radius: 2px;
    color: #f9f9f9;
    font-size: 18px;
    transition: .5s all;
}

.enviar:hover {
    background: #495e8a;
    cursor: pointer;
    transform: scale(1.025);
}

table {
    margin: 20px 0 50px 0;
}

thead {
    background-color: #cecece;
    font-weight: bold;
}

td, th {
    border: 2px solid #333;
    padding: 10px 50px;
}