body {
    background: #F9F9F9;
    color: #555;
    font-family: 'Quicksand', sans-serif;
}

header {
    padding: .5em 0 1em 1em;
    background: #fdfbfc;

}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #93a5cd;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    transition: .5s color;
}

nav a:hover {
    color: #667eb5;
    text-decoration: underline;
}

.logo {
    width: 15%;
}

.banner {
    width: 100%;
}

h2, h3 {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}

footer {
    text-align: center;
    background-color: #FFBBD8;
    padding: 20px 0 10px 0;
}

footer > p {
    padding: 40px 0;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}