.titulo-principal {
    padding-left: .5em;
    vertical-align: top;
    
    font-size: 2em;
    text-align: center;
    margin-bottom: 1.5em;
}

.principal {
    padding: 2em 10em;
    margin: 0 auto;
}

.principal p {
    margin: 1em 2em;
    line-height: 24px;
}

.principal strong {
    font-size: 18px;
    font-weight: bold;
}

.principal em {
    font-style: italic;
    color: #3b4c72;
}

.utensilios {
    float: left;
    width: 20%;
    margin: 0 5em;
}

.beneficios {
    padding: 2em 0;
    width: 1000px;
    margin: 0 auto;
}

.lista-beneficios {
    display: inline-block;
    width: 30%;
    margin: 2em 5em 0 2em;
    vertical-align: top;
}

.itens {
    font-style: italic;
    margin-bottom: 2em;
}

.itens::before {
    content: '✨'
}

.itens:first-child {
    font-weight: bold;
}

.imagem-beneficios {
    width: 20%;
}

table {
    margin: 20px auto 50px auto;
}

thead {
    background-color: #cecece;
    font-weight: bold;
}

td, th {
    border: 2px solid #333;
    padding: 10px 60px;
}

.mapa {
    padding: 3em 0;
    background: linear-gradient(#F9F9F9 25%, #FFBBD8);
}

.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.video {
    display: inline-block;
    margin: 1em auto;
    box-shadow: 19px 5px 12px 4px #00000042;
}


@media screen and (max-width: 700px) {
    .lista-beneficios {
        display: block;
        width: 100%;
    }

    .principal {
        padding: 2em .5em;
    }

    .utensilios {
        margin: 2em 1em 1em 4em;
    }

    .beneficios {
        width: auto;
    }

    .imagem-beneficios {
        display: none;
    }

    .mapa-conteudo {
        width: 100%;
    }
}