body {
    background: #F9F9F9;
    color: #333;
    font-family:Arial,  sans-serif;
}

header {
    padding: .5em 0 1em 1em;
}

.titulo-principal {
    display: inline;
    padding-left: .5em;
    vertical-align: top;
    
    font-size: 28px;
}

.principal {
    background: #ebebeb;
    padding: 30px;
}

#banner {
    width: 100%
}

.titulo-centralizado {
    text-align: center
}

p {
    text-align: center;
    margin: 1em 20em;
}

#missao {
    font-size: 20px;
}

em strong {
    color: #3b4c72;
}

.beneficios {
    padding: 2em;
}

ul {
    display: inline-block;
    width: 20%;
    margin: 3em 5em 0 15em;
    vertical-align: top;
}

.itens {
    font-style: italic;
    margin-bottom: 2em;
}

.imagem-beneficios {
    width: 30%;
}